{% extends "base.html" %}

{% block content %}
<div>{{ data }}</div>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
   var str3 = "{{ data }}"
   lng = str3.length
   str3 = str3.substring(2, lng - 2).split('&#39;').join('').split('], [')
    ms = []
    var arrLength = [];
    for (var i = 0; i < str3.length; i++) {arrLength[i] = [str3[i].split(', ')[0], parseFloat(str3[i].split(', ')[1])]}
    str4  = 'Выбор людей, по тотемам или по календарю' + str3 + " " + arrLength;

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Month');
    data.addColumn('number', 'Count');
    for (var i = 1; i < arrLength.length; i++) {
     data.addRow([arrLength[i][0], arrLength[i][1]]);}
    var options = {
     title: str4,
     is3D: true,
     pieResidueSliceLabel: 'Остальное'
    };
    var chart = new google.visualization.PieChart(document.getElementById('air'));
     chart.draw(data, options);
   }
  </script>
<div id="air" style="width: 700px; height: 600px;"></div>

{% endblock %}